body {background-image: url('Images/morning_rain_by_a1cknox_d5riy22-414w-2x.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     }
h1 {color:rgb(233, 250, 1); }
      
fieldset{color:rgb(233, 250, 1);
          width:80%;
          padding: 10px;
          border: 5px color: #4a77a5;
        }
img {
  float: center;
}
.zoom-img {
  width: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  aspect-ratio: 1 / 3;
  object-fit: cover;
  transition: all 1s ease;
}
.zoom-img img:hover {
  transform: scale(1.2);
}




