body {
      background-image: url('Images/morning_rain_by_a1cknox_d5riy22-414w-2x.jpg'); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;  
      border: 3px solid color:rgb(233, 250, 1);
      border-radius: 8px;
      padding: 1.5rem;
      margin: 1rem auto 2rem;
      max-width: 680px;
      text-align: left;
      box-shadow: 0 4px 8px rgba(0,0,0,0.25);
      font-family: system-ui, sans-serif;
    }
header {
      margin: 0 0 0.5rem;
      font-size: 3rem;
      color: #622e00;
        }
h1{
      margin: 0 0 0.5rem;
      font-size: 1.75rem;
      color: #622e00;
        }
h2 {
      margin: 0 0 0.5rem;
      font-size: 1.75rem;
      color: #622e00;
         }
p {
      margin: 0;
      font-size: 1.1rem;
      color: #3d2400;
    }



